
body {
  width: 90%;
  margin: 0 auto;
  background-color: #d8d2d2;
}
#wrapper {
  background-color: white;
}
h1 {
  text-align: center;
  margin: 2% 0%;
  padding: 30px;
  background-color: #07071b;
  color:#efefef
}
ul {
  text-align: center;
  background-color: #888484;
}
#navbar a{
  text-decoration:none;
  color: white;
  font-size: 23px;
  padding: 2px;
  margin: 6px;
}
#navbar li a:hover{

 /*  background-color: gray;  */
  color:red;

}
#check ul{
  background-color: #efefef;
}
 p {
  background-color: #efefef;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}
h2 {
  text-align: center;
}
#content {
  overflow: auto;
}
#nav, #feature, #footer {
  margin: 1% 0%;
}
@media screen and (max-width:2000px){
#slider_img img{
  width: 100%;
  max-width: 100%;
}
}

li {
  display: inline-block;
  padding: 0.5em;
  color: black;
}

h3 {
  background-color: #07071b;
  color: #efefef;
  height: 45px;
}
.contact a{
  color:black;
}
#pics p{
  margin-top: 80px;
}
