
body {
  width: 90%;
  margin: 0 auto;
  background-color: lightgrey;
}
#wrapper {
  background-color: white;
}
h1 {
  margin: 2% 0%;
  padding: 30px;
  background-color: #443e3e;
  color:#efefef
}
ul {
  text-align: center;
  background-color: #efefef;
}
li {

}
ul, li, a{
  text-decoration:none;
  color: black;

}
ul, li, a:hover{

 /*  background-color: gray;  */
  color:red;

}
h1, p {
  text-align: center;
}
h2 {
  text-align: center;
}
#content {
  overflow: auto;
}
#nav, #feature, #footer {
  margin: 1% 0%;
}
@media screen and (max-width:2000px){
#slider_img img{
  width: 100%;
  max-width: 100%;

  /*border: 1px solid grey;
  padding: 15px;
  background-color: #eee;*/
}
}

li {
  display: inline-block;
  padding: 0.5em;
  color: black;
}

#nav, #footer {
  background-color: #443e3e;
  color: #efefef;
  padding: 0.2px;
}
